:root {
  --color-black: #000;
  --color-blue-light-1: #63C5DA;
  --color-blue-light-2: #0492C2;
  --color-blue-light-3: #52B2BF;
  --color-blue-light-4: #89CFEF;
  --color-blue-light-5: #73C2FB;
  --color-blue-dark-1: #005a9a;
  --color-blue-dark-2: #00489a;
  --color-blue-dark-3: #241571;
  --color-blue-dark-4: #00265e;
  --color-green-light-1: #99EDC3;
  --color-green-light-2: #3DED97;
  --color-green-light-3: #5DBB63;
  --color-green-light-4: #B2D3C2;
  --color-green-light-5: #74B72E;
  --color-green-dark-1: #3D9970;
  --color-green-dark-2: #20a020;
  --color-green-dark-3: #32612D;
  --color-green-dark-4: #234F1E;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-red-dark-1: #a02020;
  --line-blue-dark: 0.1rem solid var(--color-blue-dark-3);
  --line-blue-light: 0.1rem solid var(--color-blue-light-2);
  --line-green-dark: 0.1rem solid var(--color-green-dark-1);
  --line-grey: 0.1rem solid var(--color-grey-light-2);
  --line-grey-dark: 0.1rem solid var(--color-grey-dark-2);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.badge {
  background-color: var(--color-red-dark-1);
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.border-bottom {
  border-bottom: var(--line-grey);
}

.button {
  color: #fff;
  background-color: var(--color-blue-dark-2);
  border: 0.1rem var(--color-blue-dark-2) solid;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: Arial, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  cursor: pointer;

  &__wide {
    width: 100%;
  }

  &:hover {
    background-color: var(--color-blue-dark-4);
  }

  &__disabled {
    background-color: var(--color-grey-dark-2);
    border: 0.1rem var(--color-grey-dark-1) solid;

    &:hover {
      background-color: var(--color-grey-dark-2);
    }
  }

  &__default{
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.card-box {
  background-color: var(--color-grey-light-1);
  border: var(--line-grey-dark);
  border-radius: 0.5rem;
  margin: 0 1rem;
  padding: 1rem;
}

.card-box > * {
  margin-bottom: 1rem;
}

.col-very-narrow {
  flex: 1 1 10%;
}

.col-wide {
  flex: 5 1 50%;
}

.container {
  box-shadow: var(--shadow-dark);
  max-width: 120rem;
  min-height: 50rem;
  margin: 5rem auto;
  border-radius: 2.5rem;
}

.error-text {
  font-size: 1.6rem;
  color: var(--color-red-dark-1);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.flex-row-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-item-center {
  align-self: center;
}

.flex-row-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.flex-row-top {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-col {
  flex: 1 0 auto;
}

.flex-col-1 {
  flex: 1 1 20rem;
}

.flex-col-2 {
  flex: 2 1 40rem;
}

.flex-col-2-no-grow {
  flex: 0 1 40rem;
}

.flex-col-3 {
  flex: 3 1 60rem;
}

.flex-col-4 {
  flex: 4 1 80rem;
}

.flex-col-5 {
  flex: 5 1 100rem;
}

.image-large {
  width: auto;
  height: auto;
}

.image-small {
  max-width: 5rem;
  width: 100%;
}

input,
select,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-family: Arial, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:hover,
select:hover,
textarea:hover {
  border: 0.1rem var(--color-blue-dark-2) solid;
}

.list-circle {
  list-style-type: circle;
}

.margin-bottom-low {
  margin-bottom: 1rem;
}

.margin-bottom-medium {
  margin-bottom: 2rem;
}

.margin-medium {
  margin: 1rem 2rem
}

.medium-right-low {
  margin-left: 1rem;
}

.margin-top-high {
  margin-top: 5rem;
}

.margin-top-low {
  margin-top: 1rem;
}

.margin-top-medium {
  margin-top: 2rem;
}

.text-large {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1rem 0;
}

.text-small {
  font-size: 1.4rem;

  &__bold {
    font-weight: bold;
  }
}

.row-low {
  min-height: 5rem;
}

.success-text {
  font-size: 1.6rem;
  color: var(--color-green-dark-2);
}

.text-medium {
  font-size: 1.6rem;

  &__bold {
    font-weight: bold;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
