@import '../../../components/base';

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;
  font-size: 1.6rem;
  background-color: var(--color-green-light-1);
  border-top: var(--line-green-dark);
  border-radius: 0 0 25px 25px ;
}