@import 'base';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 15rem;
  font-size: 1.6rem;
  background-color: var(--color-blue-dark-2);
  border-bottom: var(--line-blue-dark);
  border-radius: 25px 25px 0 0;
}

.logo {
  height: 140px;
  width: 140px;
  margin-left: 2rem;
}

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center;

  margin-right: 2rem;

  & > * {
    display: flex;
    align-items: center;

    height: 100%;
    cursor: pointer;
    padding: 0 2rem;
  }

  & > *:hover {
    background-color: var(--color-blue-dark-4);
  }


  &__icon {
    height: 2.5rem;
    width: 2.5rem;
  }
}